<span ng-show="!selection.bundle.isSearch" ng-include="'views/link/toolbar.html'"></span>

<br />
<br />

<div class="link-item" ng-repeat="link in model.getElements()" ng-click="selectLink(link)" ng-class="{selected : model.isSelected(link)}">
	<div>
		<a target="_blank" href="{{link.url}}">
    	<span class="caption">{{link.label}}</span>
  	</a>
    <small>
      <span class="link-domain">{{link.url | pdDomain}}</span>
    </small>
  </div>

	<div>
		<div class="link-tags">
			<ul>
				<li ng-repeat="tag in link.tags"><a href="/links/?tag={{tag}}">{{tag}}</a></li>
			</ul>
		</div>

		<div class="link-date" title="{{link.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}">
			<span>{{link.createdAt | date:'yyyy-MM-dd'}}</span>
		</div>
	</div>

	<div style="clear: both;"></div>
</div>