<div class="container">
	<div class="jumbotron">
	  <img src="/assets/img/panda-90px.png" style="width: 90px: height: 90px; float: left; margin-right: 15px;">
	  <h2>Panda Links</h2>
	  <p>Simple, fast link organisation</p>
	</div>

	<div class="container">
		<div class="col-md-4">
			<h3>About</h3>
			<p>
			Panda is an application for organising web links. The application is developed in order to learn about state of the art javascript development. The application uses javascript for implementing both, backend and frontend.
			</p>
		</div>
		<div class="col-md-4">
			<h3>Features</h3>
			<ul>
				<li>Create, update, delete web links</li>
				<li>Search web links</li>
				<li>Simple user management</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Documentation</h3>
			<p>test text</p>
		</div>
	</div>
</div>