<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Panda Link Organiser</title>
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>

<body ng-controller="applicationController" ng-keydown="onKeyDown($event)">
  <div ng-include src="'views/common/navigation.html'"></div>
  
  <div ng-view></div>
  
  <script data-main="/config/requireConfig" src="/bower_components/requirejs/require.js"></script>
</body>
</html>