<span ng-include="'views/configuration/user/toolbar.html'"></span>

<br />
<br />

<table class="table table-striped">
	<thead>
		<tr>
	  	<th>Login</th>
	  	<th>First Name</th>
	  	<th>Last Name</th>
	  	<th>Admin</th>
	  	<th>Active</th>
	  </tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="user in users">
	  	<td>{{user.login}}</td>
	  	<td>{{user.firstName}}</td>
	  	<td>{{user.lastName}}</td>
	  	<td><pd-flag-icon value="user.admin"></pd-flag-icon></td>
	  	<td><pd-flag-icon value="user.active"></pd-flag-icon></td>
	  </tr>
	</tbody>
</table>