<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Panda - Login</title>
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/login.css">
</head>

<body>
  <div class="container">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Remarks:</strong><br><br>
      This is a test application which is still under development. Focus was to learn a couple of technologies. Therefore the
      application was not tested elaborately. The application uses the free heroku hosting option. Hence it's pretty slow. Sometimes
      a page reload works wonders ;-)<br><br>
      Test user credentials: <b>login=demo password=demo</b>
    </div>

    <form class="form-signin" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="username" class="sr-only">Login</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div> <!-- /container -->
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>