<span ng-include="'views/configuration/toolbar.html'"></span>

<br />
<br />

<table class="table table-striped">
	<thead>
		<tr>
	  	<th width="1%">#</th>
	  	<th>Label</th>
	  	<th>Links</th>
	  </tr>
	</thead>
	
	<tbody>
		<tr ng-class="{info : bundle._id === selection.bundle._id}" ng-repeat="bundle in bundles" ng-click="selectBundle(bundle)">
	  	<td>{{bundle.order}}</td>
	  	<td>{{bundle.label}}</td>
	  	<td>{{bundle.linkCount}}</td>
	  </tr>
	</tbody>
</table>

<pd-dialog dialog="newBundleDialog" body-url="'configuration/bundleDialogBody.html'" footer-url="'configuration/bundleDialogFooter.html'"></pd-dialog>