<form id="{{dialog.formId}}" name="bundleForm" novalidate>
  <input type="hidden" value="{{form.bundle}}">
  <div class="form-group" ng-class="{'has-error': bundleForm.label.$dirty && bundleForm.label.$invalid}">
    <label for="label">Label</label>
    <input type="text" class="form-control" id="label" name="label" ng-model="form.label" placeholder="Enter Label" required>
    <span class="help-block" ng-show="bundleForm.label.$dirty && bundleForm.label.$error.required">Field must not be empty.</span>
  </div>
</form>