<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolNew()}" ng-click="showNewBundleDialog()">New</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolEdit()}">Edit</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolDelete()}">Delete</button>
</div>

<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolDown()}">
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolUp()}">
		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
	</button>
</div>