<span ng-include="'views/configuration/bundle/toolbar.html'"></span>

<br />
<br />

<table class="table table-striped">
	<thead>
		<tr>
	  	    <th class="w_1px">#</th>
            <th class="w_90">Label</th>
            <th class="w_10 centered">Links</th>
	  </tr>
	</thead>
	
	<tbody>
		<tr ng-class="{selected : bundle._id === selection.bundle._id}" ng-repeat="bundle in bundles" ng-click="selectBundle(bundle)">
	  	<td>{{bundle.index}}</td>
	  	<td>{{bundle.label}}</td>
	  	<td class="centered">{{bundle.linkCount}}</td>
	  </tr>
	</tbody>
</table>

<pd-dialog dialog="newBundleDialog" form="form"></pd-dialog>
<pd-dialog dialog="editBundleDialog" form="form"></pd-dialog>