<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolNew()}" ng-click="showNewBundleDialog()">New</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolEdit()}" ng-click="showEditBundleDialog()">Edit</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolDelete()}" ng-click="deleteBundle()">Delete</button>
</div>

<div class="btn-group btn-group-sm">
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolDown()}" ng-click="bundleDown()">
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default btn-sm" ng-class="{disabled : !enableToolUp()}" ng-click="bundleUp()">
		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
	</button>
</div>